<div class="live-container">
  <!-- Barra Superior -->
  <header class="live-header">
    <div class="header-left">
      <span class="brand">CursITU – Presentaciones</span>
    </div>
    
    <div class="header-center">
      <div class="live-indicator">
        <span class="dot"></span>
        En Vivo
      </div>
      <span class="group-name">Grupo #2</span>
    </div>

    <div class="header-right">
      <button class="btn-exit" (click)="salirDeTransmision()">
        Salir
        <span class="material-symbols-outlined">logout</span>
      </button>
    </div>
  </header>

  <!-- Visor de Diapositivas -->
  <main class="viewer-area">
    <div class="slide-content">
      <h1>DIAPOSITIVAS</h1>
    </div>
  </main>
</div>