<div class="auth-container">
  <div class="auth-card">
    <h2 style="color: var(--primary-purple);">Iniciar Sesión</h2>
    <form [formGroup]="loginForm">
      <div class="field">
        <label>DNI</label>
        <input type="text" formControlName="dni" placeholder="Ingrese su DNI">
      </div>

      <div class="field">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="********">
      </div>

      <button class="purple-button" (click)="onLogin()">Acceder</button>
    </form>
  </div>
</div>
