<main *ngIf="authService.userRole$ | async as rol">
  <nav class="top-nav">
    <button class="btn-back" routerLink="/home">
      <span class="material-symbols-outlined">arrow_back</span>
      Regresar al menú
    </button>
  </nav>
  <div class="materias-container">
    <h2 *ngIf="rol === 'DOCENTE'">Materias</h2>

    <!-- VISTA DOCENTE -->
    <div class="materias-wrapper" *ngIf="rol === 'DOCENTE'">
      <div class="materia-row">
        <!-- El contenedor ahora es el link principal -->
        <div class="materia-card orange main-clickable" (click)="navigateToPanel('/professor-panel')">
          <div class="materia-info">
            <h3>PROGRAMACIÓN ORIENTADA A OBJETOS</h3>
            <p>Docente: <span>Ignacio Fontaine</span></p>
          </div>
        </div>
        <!-- Botón de horarios estilizado -->
        <button class="btn-horarios">
          <span class="material-symbols-outlined">schedule</span>
          <span>Horarios</span>
        </button>
      </div>
    </div>
  </div>

  <!-- VISTA ALUMNO -->
  <div class="subjects-container" *ngIf="rol === 'ALUMNO'">
    <h2>Materias En Curso</h2>

    <div class="subjects-card">
      <div class="subject-row" *ngFor="let subject of (subjectList$ | async)">
        <div
          class="subject-main main-clickable"
          [style.background-color]="subject.color"
          (click)="navigateToClassroom('/current-classroom', subject.classroom_id)"
        >
          <div class="subject-info">
            <h3>{{ subject.subject_name| uppercase }}</h3>
            <p>
              Docente: <span>{{ subject.professorData?.name || "Cargando..." }}</span>
            </p>
          </div>
        </div>

        <button class="schedule-btn">
          <span class="material-symbols-outlined">schedule</span>
          <span>Horarios</span>
        </button>
      </div>
    </div>
  </div>
</main>
