<main *ngIf="authService.userRole$ | async as rol">
  <div class="notas-container" *ngIf="rol === 'DOCENTE'">
    <main class="planilla-content">
      <nav class="top-nav">
        <button class="btn-back" routerLink="/professor-panel">
          <span class="material-symbols-outlined">arrow_back</span>
          Regresar
        </button>
      </nav>

      <div class="planilla-header">
        <h2>Calificaciones</h2>
        <button class="btn-nueva-nota">
          <span class="material-symbols-outlined">add_circle</span>
          <span class="btn-text">Nueva Nota</span>
        </button>
      </div>

      <!-- FILTRO ESTILIZADO (Segmented Control) -->
      <div class="filter-wrapper">
        <div class="filter-scroll">
          <button class="filter-chip active">Todos</button>
          <button class="filter-chip">TP 1</button>
          <button class="filter-chip">TP 2</button>
          <button class="filter-chip">Parcial 1</button>
          <button class="filter-chip">Parcial 2</button>
          <button class="filter-chip">Final</button>
        </div>
      </div>

      <div class="planilla-wrapper">
        <div class="table-header-banner">POO - LISTADO DE ALUMNOS</div>

        <table class="notas-table">
          <thead>
            <tr>
              <th>Alumno</th>
              <th>Actividad</th>
              <th>Nota</th>
              <th class="text-right">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="alumno-name" data-label="Alumno">Facundo Garay</td>
              <td data-label="Actividad">Parcial 1</td>
              <td data-label="Nota">
                <input type="number" class="input-nota" value="8" />
              </td>
              <td class="actions-cell text-right" data-label="Acciones">
                <button class="btn-save" title="Guardar">
                  <span class="material-symbols-outlined">save</span>
                </button>
                <button class="btn-delete" title="Borrar">
                  <span class="material-symbols-outlined">delete</span>
                </button>
              </td>
            </tr>
            
            <tr>
              <td class="alumno-name" data-label="Alumno">Maria Gomez</td>
              <td data-label="Actividad">Parcial 1</td>
              <td data-label="Nota">
                <input type="number" class="input-nota fail" value="5" />
              </td>
              <td class="actions-cell text-right" data-label="Acciones">
                <button class="btn-save">
                  <span class="material-symbols-outlined">save</span>
                </button>
                <button class="btn-delete">
                  <span class="material-symbols-outlined">delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</main>